//@import "./sass/utils/variables";
//@import "./sass/utils/functions";
@import "./sass/utils/mixins";
//@import "./sass/utils/extensions";
//@import "./sass/base/base";
//@import "./sass/base/typography";
@import "./sass/components/buttons";
@import "./sass/layout/header";
@import "./sass/layout/footer";
//@import "./sass/sass/layouts/nav";
//@import "./sass/layouts/container";
//@import "./sass/layouts/form";
//@import "./sass/pages/work";
//@import "./sass/pages/about";
//@import "./sass/pages/project";

* {
  color: #666;
  text-decoration: none;
}

.main {
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.central-block {
  position: relative;
  top: -11%;
  width: 45%;
  text-align: center;
  @include element(logo) {
    margin: 30px auto;
  }
}

.search {
  border: 1px solid hsla(0°, 0, 80, 0.8);
  border-radius: 25px;
  height: 2rem;
  padding: 7px 15px;
  display: flex;
  align-items: center;
  &:hover {
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.1),
      -1px -1px 5px 0 rgba(0, 0, 0, 0.1);
  }
  @include element(fa-search) {
    opacity: 0.2;
  }
  @include element(searchbar) {
    display: block;
    width: 100%;
    border: none;
    outline: none;
  }
  @include element(fa-microphone) {
    padding-right: 5px;
  }
}
